<div class="container">
    <div class="my_padding">

        <div class="page-header">
          <h1 id="getting-started">Contact Us </h1>
        </div>

        <div class="col-sm-4">
        	<form>
        		<div class="form-group">
    				<label for="name">Your Name:</label>
    				<input type="text" class="form-control" id="name">
  				</div>
  				<div class="form-group">
    				<label for="email">Your Email:</label>
    				<input type="email" class="form-control" id="email">
  				</div>
  				<div class="form-group">
    				<label for="message">Message:</label>
    				<textarea class="form-control" id="message" row="6"></textarea>
  				</div>
 				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
       	 </div> 
       	 	
       	 <div class="col-sm-offset-2 col-sm-6">
        	<table>
                <tr>
                    <td> <i class="fa fa-map-marker"></i> </td>
                    <td> 235B, 6 Old Hope Road, Kingston, Jamaica, West Indies </td>
                </tr>
                <tr>
                    <td> <i class="fa fa-globe"></i> </td>
                    <td> <a href="http://www.egovja.com/" target="_blank">www.egovja.com</a> </td>
                </tr>
                <tr>
                    <td> <i class="fa fa-phone"></i> </td>
                    <td> (876) 927-1125-8 </td>
                </tr>
                <tr>
                    <td> <i class="fa fa-fax"></i> </td>
                    <td> (876) 927-1810  </td>
                </tr>
                <tr>
                    <td> <i class="fa fa-envelope"></i> </td>
                    <td> custserv@egovja.com </td>
                </tr>       
                <tr> 
                    <td> <i class="fa fa-clock-o"></i> </td>
                    <td> 8AM to 5PM </td>   
                </tr>       
            </table>
        </div>
    </div>
</div>